*{  margin: 0;
    padding: 0;
    box-sizing: border-box;}

  

.card:hover {
    transform: scale(1.1);
    transition: 500ms;
  }
    
  .btn-wsp { 
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: opx 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
  
    :hover {
    text-decoration: none;
    color: #0df053;
    background: #fff;}
  }


  
      h2 {
        text-align-last: center;
        font-size: 3rem - 1;
        animation-name: example;
        animation-duration: 3s;
      }
      
      .type {
        transition: all;
        transition-duration: 1000ms;
      }
    
      .titulo {
      text-align-last: center;
        font-size: 4rem;
        animation-name: example;
        animation-duration: 3s;
        margin-top: 20px;
        
      }
      
  #principal{
    background-image: url(/Imagenes/optica.jpg);
    
  }