
 .navbar {
    background: linear-gradient(to right, rgba(48, 207, 208, 0.5), rgba(51, 8, 103, 0.5));
      }

      .nav-item {
        text-transform: uppercase;
         
          li:hover li:active {
        background-color: rgba(0,0,0,.3);
        transition: 0.4s;
         }
        }

        .logo {
          max-width: 150px;
          height: 80px;
        }